@model IEnumerable<HotelManagement.ViewModel.RoomDetailsModel>

<table style="width:100%">

    <thead class="alert-success">
        <tr>
            <th>
                Action
            </th>
            <th>
                Room Image
            </th>


            <th>
                Room No
            </th>

            <th>
                Room price
            </th>

            <th>
                Booking Status
            </th>

            <th>
                Room Type
            </th>

            <th>
                Room Capacity
            </th>

            <th>
                Room Description
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>  <span id="btnDelete" class="glyphicon glyphicon-trash" onclick="DeleteRoom(@item.RoomId)">  </span>&nbsp;&nbsp;
            <span id="btnEdit" class="glyphicon glyphicon-pencil" onclick="EditRoom(@item.RoomId)">  </span></td>

            <td>  <img   src="@Url.Content("~/Images/RoomImages/" + item.RoomImage)"  width="50" height="50" class="img-responsive" /></td>

            <td>@item.RoomNumber</td>

            <td>@item.RoomPrice</td>

            <td>@item.BookingStatus</td>

            <td>@item.RoomType</td>

            <td>@item.RoomCapacity</td>

            <td>@item.RoomDescription</td>



        </tr>
        }
    </tbody>
</table>
